{% extends "base2.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

<body id="activatedBody">
    <div class="activated">
        <div id="heading">
            <a href="/">
                <h1>B &nbsp; U &nbsp; D &nbsp; Ż &nbsp; E &nbsp; T &nbsp; &nbsp; &nbsp; &nbsp; O &nbsp; S &nbsp; O
                    &nbsp; B
                    &nbsp; I &nbsp; S &nbsp; T &nbsp; Y</h1>
            </a>
        </div>

        <div id="headingSmall">
            <a href="/">
                <h1>&nbsp; &nbsp; B &nbsp; U &nbsp; D &nbsp; Ż &nbsp; E &nbsp; T &nbsp; &nbsp;</h1>
                <h1>O &nbsp; S &nbsp; O &nbsp; B &nbsp; I &nbsp; S &nbsp; T &nbsp; Y</h1>
            </a>
        </div>

        <!-- <div class="successInfoText">
            <p>
                <span id="firstTextLine"><span id="firstWords">Udało się!</span>&nbsp;&nbsp;&nbsp;&nbsp; Należysz już do
                    grona konciarzy :></span></br>
                Sprawdź maila i kliknij w link, aby potwierdzić.
            </p>
            <img src="/css/pictures/handshakeColor.png" alt="" width="300" height="200">
        </div> -->

        <div class="infoText">
            <p><span class="firstWords">Jesteś! &nbsp;&nbsp;I to w jakim stylu!</span></br> Konto jest już aktywne. Możesz się teraz &nbsp;&nbsp; <a href="/login">zalogować</a>.</p>
            <img src="/css/pictures/vintage-dancers.png" alt="" width="250" height="250">
        </div>

    </div>
{% endblock %}
