{% extends 'base2.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<body id="logginginBody">
    <div class="loggingin">
        <div id="heading">
            <a href="/">
                <h1>B &nbsp; U &nbsp; D &nbsp; Ż &nbsp; E &nbsp; T &nbsp; &nbsp; &nbsp; &nbsp; O &nbsp; S &nbsp; O
                    &nbsp; B &nbsp; I &nbsp; S &nbsp; T &nbsp; Y</h1>
            </a>
        </div>

        <div id="headingSmall">
            <a href="/">
                <h1>&nbsp; &nbsp; B &nbsp; U &nbsp; D &nbsp; Ż &nbsp; E &nbsp; T &nbsp; &nbsp;</h1>
                <h1>O &nbsp; S &nbsp; O &nbsp; B &nbsp; I &nbsp; S &nbsp; T &nbsp; Y</h1>
            </a>
        </div>

        <div class="activatedText" id="tokenExpiredText">
            <section id="tokenResetExpiredSection">
                <p><span>Rozczarowanie</span></p>
                <p>Link się zepsuł, albo przeterminował :/</p>
                <p>Kliknij <a href="/">tu</a>, zaczniemy od początku ;)</p>
            </section>
            <img src="/css/pictures/man_with_problem.png" alt="" width="200" height="280" id="manWithProblem">

        </div>
    </div>
    {% endblock %}